:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}
body {
  min-height: 100%;
  background-color: var(--gris1);
  font-family: var(--textFont);
  font-size: 16px; 
  font-size: 1.6rem;
}

h1, h2 {
  font-family: var(--headingFont);
  font-weight: 600;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--gris2);
}
h1 span {
  font-weight: 400;
}
h5 {
  font-size: 120%;
}

/** BOTONES **/
.btn {
  font-family: var(--headingFont);
  transition: background-color .3s ease;
  font-size: 1.7rem;
}
.btn:hover {
  cursor: pointer;
}
.btn-submit:hover {
  background-color: var(--gris2);
}
.close {
  height: 3rem;
  width: 3rem;
}

@media (min-width: 768px) {
  .contenedor-app {
      display: flex;
      min-height: 100vh;
  }

  aside {
      background-color: var(--blanco);
      flex: 0 0 300px;
  }
  .seccion-principal {
      flex: 1;
  }

}

/* BARRA LATERAL */
aside  {
  padding: 3rem;
}

.app-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--gris2);
  padding: 4rem;
}
.nombre-usuario {
  color: var(--blanco);
  font-size: 2.2rem; 
  margin: 0;
}
.nombre-usuario span {
  font-weight: 900;
}
.nav-principal a {
  color: var(--blanco);
  text-decoration: none;
}
.nav-principal a:first-of-type {
  margin-right: 2rem;
}

/* Contenedor */
.contenedor {
  padding: 4rem;
}

.form-control {
  font-size: 120%;
}

.close span{
  font-size: 150%;
}

td, tr
{
    height: 30px;
}

#cssTable td, tr
{
    text-align: center; 
    vertical-align: middle;
}